.form-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-register {
  width: 100%;
  max-width: 500px;
  padding: 5px;
  margin: auto;
  padding-top: 95px;
}

.invalid-item {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.btn-primary {
  margin-bottom: 10px;
}

no-show {
  display: none;
}

input.ng-invalid.ng-touched {
  border-left: 5px solid #a94442;
}

input.ng-valid.ng-dirty {
  border-left: 5px solid #42a948;
}

input.ng-valid.ng-touched {
  box-shadow: 0 0 10px #42a948;
}

.social-btn .btn {
  border: none;
  margin: 10px 3px 0;
  opacity: 1;
}

.social-btn .btn:hover {
  opacity: 0.9;
}

.social-btn .btn-primary {
  background: #507cc0;
}

.social-btn .btn-info {
  background: #64ccf1;
}

.social-btn .btn-danger {
  background: #df4930;
}

.or-seperator {
  margin-top: 20px;
  text-align: center;
  border-top: 1px solid #ccc;
}

.or-seperator i {
  padding: 0 10px;
  background: #f7f7f7;
  position: relative;
  top: -11px;
  z-index: 1;
}

#link-forgot-password {
  color: rgb(54, 96, 212);
  text-decoration: underline;
}

#link-register-user {
  color: rgb(54, 96, 212);
  text-decoration: underline;
}

.card {
  width: 100%;
  max-width: 430px;
  padding-top: 15px;
  margin: auto;
  border-radius: 15px;
}

.card-header {
  background: linear-gradient(to right, #084784, #41b8d4);
  color: white;
}

#button-sending {
  background: linear-gradient(to right, #084784, #41b8d4);
  color: white;
}

@media (max-width: 600px) {
  #encuentranos-panel {
    padding-top: 30px;
  }
}

.btn-danger {
  background-color: #b4250e !important;
}
