<ngx-spinner bdColor="rgba(235,233,233,0.8)" size="default" color="black" type="square-loader" [fullScreen]="true">
    <p style="color: black"> Cargando... </p>
</ngx-spinner>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="needs-validation">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="first-name-user">Nombres</label>
            <i [ngClass]="isValidCheck('firstName')"></i>
            <input formControlName="firstName" type="text" class="form-control" id="first-name-user"
                [ngClass]="isValidInput('firstName')">
            <div class="invalid-feedback">Los nombres no son validos.</div>
        </div>
        <div class="form-group col-md-6">
            <label for="last-name-user">Apellidos</label>
            <i [ngClass]="isValidCheck('lastName')"></i>
            <input formControlName="lastName" type="text" class="form-control" id="last-name-user"
                [ngClass]="isValidInput('lastName')">
            <div class="invalid-feedback">Los apellidos no son validos.</div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="identification-user">Identificación</label>
            <i [ngClass]="isValidCheck('identification')"></i>
            <input formControlName="identification" type="text" class="form-control" id="identification-user"
                [ngClass]="isValidInput('identification')">
            <div class="invalid-feedback">La identificación no es valida.</div>
        </div>
        <div class="form-group col-md-6">
            <label for="identification-code">Codigo Estudiantil</label>
            <i [ngClass]="isValidCheck('identificationCode')"></i>
            <input formControlName="identificationCode" type="text" class="form-control" id="identification-code"
                [ngClass]="isValidInput('identificationCode')">
            <div class="invalid-feedback">El codigo de identificacion estudiantil no valido.</div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="email-user">Correo Electronico</label>
            <i [ngClass]="isValidCheck('email')"></i>
            <input formControlName="email" type="email" class="form-control" id="email-user"
                aria-describedby="emailHelp" [ngClass]="isValidInput('email')">
            <small id="emailHelp" class="form-text text-muted">Ingresar el correo electronico de tu
                universidad</small>
            <div class="invalid-feedback">El correo electronico no es valido.</div>
        </div>
        <div class="form-group col-md-6">
            <label for="email-backup">Correo Electronico de Respaldo</label>
            <i [ngClass]="isValidCheck('emailBackup')"></i>
            <input formControlName="emailBackup" type="email" class="form-control" id="email-backup"
                [ngClass]="isValidInput('emailBackup')">
            <div class="invalid-feedback">El correo electronico no es valido.</div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="rol-account">Tipo Usuario</label>
            <i [ngClass]="isValidCheck('rolAccount')"></i>
            <select formControlName="rolAccount" class="form-control" id="rol-account"
                [ngClass]="isValidInput('rolAccount')">
                <option value="" selected>Selecciona una opción</option>
                <option *ngFor="let rol of rolAccounts | keyvalue; trackBy: trackByFn" [value]="rol.key">
                    {{rol.value}}
                </option>
            </select>
            <div class="invalid-feedback">El tipo de usuario seleccionado no es valido.</div>
        </div>
        <div class="form-group col-md-6">
            <label for="college-career">Carrera Universitaria</label>
            <i [ngClass]="isValidCheck('collegeCareer')"></i>
            <select formControlName="collegeCareer" class="form-control" id="college-career"
                [ngClass]="isValidInput('collegeCareer')">
                <option value="" selected>Selecciona una opción</option>
                <option *ngFor="let college of collegeCareers | keyvalue; trackBy: trackByFn" [value]="college.key">
                    {{college.value}}
                </option>
            </select>
            <div class="invalid-feedback">La carrera seleccionada no es valida.</div>
        </div>
    </div>
    <app-register-password-form></app-register-password-form>
    <div class="custom-control custom-checkbox">
        <input formControlName="termAndConditions" type="checkbox" class="custom-control-input" id="termAndConditions">
        <label class="custom-control-label" for="termAndConditions">Al hacer click en Registrarse, aceptas los
            <a [routerLink]="routingConstants.URL_PRIVACY_TERMS_CONDITIONS">términos y condiciones</a> y la <a
                [routerLink]="routingConstants.URL_PRIVACY_POLITY_PRIVACY">política de privacidad de
                SchedulePilot</a></label>
        <div class="invalid-item" *ngIf="isCheckValid('termAndConditions')">
            Debes aceptar terminos y condiciones.</div>
    </div>
    <div class="form-group" style="text-align: center;">
        <button type="submit" class="btn btn-primary btn-block" disabled>
            Registrarse
        </button>
    </div>
</form>