<div style="padding-bottom: 20px;">
    <mat-card>
        <div class="form-row">
            <div class="form-group col-md-1">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                </mat-menu>
            </div>
            <div class="form-group col-md-11">
                <app-loan-request-check-in-search (onSubmitForm)="filterRequestCheckIn($event)"></app-loan-request-check-in-search>
            </div>
        </div>
    </mat-card>
</div>

<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
            GitHub's API rate limit has been reached. It will be reset in one minute.
        </div>
    </div>

    <div class="example-table-container">

        <table mat-table [dataSource]="data" class="example-table" matSort matSortActive="name" matSortDisableClear
            matSortDirection="desc">
            <ng-container matColumnDef="number">
                <th mat-header-cell *matHeaderCellDef>#</th>
                <td mat-cell *matCellDef="let row; let i = index;">{{i + 1}}</td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Producto</th>
                <td mat-cell *matCellDef="let row">{{row.productName}}</td>
            </ng-container>

            <ng-container matColumnDef="trackId">
                <th mat-header-cell *matHeaderCellDef>Track Id</th>
                <td mat-cell *matCellDef="let row">{{row.trackId}}</td>
            </ng-container>

            <ng-container matColumnDef="loanDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Fecha Prestamo</th>
                <td mat-cell *matCellDef="let row">{{row.loanDate | date:'medium'}}</td>
            </ng-container>

            <ng-container matColumnDef="createdDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Fecha Solicitud</th>
                <td mat-cell *matCellDef="let row">{{row.createdDate | date:'medium'}}</td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Estado Solicitud</th>
                <td mat-cell *matCellDef="let row">{{row.productRequestStatus.name}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;"></tr>
            <tr class="mat-row" *matNoDataRow style="text-align: center;">
                <td class="mat-cell" colspan="7">No existen productos.</td>
            </tr>
        </table>
    </div>

    <mat-paginator [length]="resultsLength" [pageSize]="20"></mat-paginator>
</div>