.form-register {
  width: 100%;
  max-width: 500px;
  padding: 5px;
  margin: auto;
  padding-top: 95px;
}

.invalid-item {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.btn-primary {
  margin-bottom: 10px;
}

no-show {
  display: none;
}

.social-btn .btn {
  border: none;
  margin: 10px 3px 0;
  opacity: 1;
}

.social-btn .btn:hover {
  opacity: 0.9;
}

.social-btn .btn-primary {
  background: #507cc0;
}

.social-btn .btn-info {
  background: #64ccf1;
}

.social-btn .btn-danger {
  background: #df4930;
}

.or-seperator {
  margin-top: 20px;
  text-align: center;
  border-top: 1px solid #ccc;
}

.or-seperator i {
  padding: 0 10px;
  background: #f7f7f7;
  position: relative;
  top: -11px;
  z-index: 1;
}

#link-forgot-password {
  color: rgb(54, 96, 212);
  text-decoration: underline;
}

#link-register-user {
  color: rgb(54, 96, 212);
  text-decoration: underline;
}

.card {
  width: 100%;
  max-width: 750px;
  padding: 15px;
  margin: auto;
}

.card-header {
  background: linear-gradient(to right, #084784, #41b8d4);
  color: white;
}

#button-sending {
  background: linear-gradient(to right, #084784, #41b8d4);
  color: white;
}

@media (max-width: 600px) {
  #encuentranos-panel {
    padding-top: 30px;
  }
}
