<div class="card">
    <h5 class="card-title text-center">Registro de Usuarios</h5>
    <div class="card-body">
        <app-register-form (onSubmitForm)="formResult($event)"></app-register-form>
    </div>
    <div class="form-group" style="text-align: center;">
        <a id="link-forgot-password" class="nav-link primary"
            [routerLink]="routingConstants.URL_FORGOT_PASSWORD">{{'components.authentication.link.forgot-password' | translate}}</a>
        <a id="link-register-user" class="nav-link primary"
            [routerLink]="routingConstants.URL_AUTHENTICATION">{{'components.authentication.link.register' | translate}}</a>
    </div>
</div>
<br>