<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="email-user">Correo Electronico o Usuario</label>
        <i [ngClass]="isValidCheck('user')"></i>
        <input formControlName="user" type="text" class="form-control" id="email-user" aria-describedby="emailHelp"
            [ngClass]="isValidInput('user')">
        <small id="emailHelp" class="form-text text-muted">Ingresar tu usuario o correo electronico para
            recuperar tu cuenta!</small>
        <div class="invalid-feedback">El usuario o correo electronico no es valido.</div>
    </div>
    <div class="form-group" style="text-align: center;">
        <button type="submit" class="btn btn-danger btn-block">
            Recuperar cuenta
        </button>
    </div>
</form>